table {
  border-spacing: 1px;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 0.1em 0.4em;
  color: #fff;
}

td {
  color: #ccc;
}

table._data {
  background: #000;
}

table._data th {
  background: #469;
}

table._data tr._subHeading th {
  background: #235;
}

table._data td,
table._data._doubleHeading tr:nth-child(odd)>td {
  background: #012;
}

table._data tr:nth-child(odd)>td,
table._data._doubleHeading tr:nth-child(even)>td {
  background: #000;
}

var {
  margin: -2px -4px;
  padding: 2px 4px;
  background: #060!important;
  font-weight: bold;
  font-style: normal;
}

._green {
  color: #080;
}

._red {
  color: #c00;
}

tr._project:hover>td {
  background: #124!important;
  cursor: pointer;
}