table {
  border-spacing: 1px;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 0.1em 0.4em;
}

table._DATA {
  background: #fff;
}

table._DATA th {
  background: #bcd;
}

table._DATA tr._SUB_HEADING th {
  background: #def;
}

table._DATA td {
  background: #fff;
}

table._DATA tr:nth-child(odd)>td {
  background: #eef8ff;
}

table._DATA._DOUBLE_HEADING tr:nth-child(odd)>td {
  background: #fff;
}

table._DATA._DOUBLE_HEADING tr:nth-child(even)>td {
  background: #f2f8ff;
}

var {
  background: #fea!important;
  font-weight: bold;
  font-style: normal;
}

._GREEN {
  color: #080;
}

._RED {
  color: #c00;
}

tr._PROJECT:hover>td {
  background: #fea!important;
  cursor: pointer;
}