body {
  color: #fff;
  line-height: 1.5;
}

body, th, td, input, select, textarea, button {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 12px;
}

a {
  color: #69f;
  text-decoration: none;
}

a:hover {
  color: #e50;
}

a, b, strong, th {
  font-weight: bold;
}
