* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #abc;
  color: #000;
  height: 100%;
}

#_HEAD {
  position: relative;
  background: #235;
}

#_GOLD {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 4px;
  top: 0;
  cursor: pointer;
}

#_GOLD._ON {
  background: #abc;
  border-radius: 12px;
  border: 1px solid #fff;
}

#_MAIN,
#_TREE,
#_AREA {
  position: absolute;
  top: 30px;
  bottom: 0;
  background: #abc;
  overflow: auto;
}

#_MAIN {
  z-index: 1002;
  width: 100%;
}

#_TREE {
  width: 15%;
}

#_AREA {
  background: #012;
  left: 15%;
  right: 0;
}

#_BODY{
  background: #eee;
}

._HIDDEN {
  display: none;
}

._FULL_WIDTH {
  width: 100%;
}

._ALIGN_RIGHT {
  text-align: right;
}

._NOWRAP {
  white-space: nowrap;
}
