* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #ccc;
  color: #000;
  height: 100%;
}

#_HEAD {
  position: relative;
  background: #235;
}

#_HEAD>img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 4px;
  top: 0;
}

#_TREE {
  background: #abc;
  width: 80px;
}

#_TREE,
#_AREA {
  position: absolute;
  top: 30px;
  bottom: 0;
}

#_AREA {
  background: #012;
  left: 80px;
  right: 0;
}

#_BODY{
  background: #eee;
}

._HIDDEN {
  display: none;
}

._FULL_WIDTH {
  width: 100%;
}

._ALIGN_RIGHT {
  text-align: right;
}

._NOWRAP {
  white-space: nowrap;
}
