* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  background: #abc;
  color: #000;
  height: 100%;
}

#_HEAD {
  position: relative;
  background: #235;
}

#_GOLD {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
  background: url(/gold.svg) no-repeat;
  border-radius: 50%;
  border: 1.5px solid transparent;
}

#_GOLD._ON {
  background-color: #abc;
  border-color: #fff;
}

#_FILTER,
#_TREE,
#_AREA,
#_MAIN {
  position: absolute;
  z-index: 1;
  top: 30px;
  bottom: 0;
}

#_TREE,
#_FILTER {
  width: 20%;
}

#_TREE {
  top: 60px;
}

._SCROLLABLE {
  overflow: auto;
}

#_AREA {
  right: 0;
  width: 80%;
  background: #012;
}

#_AREA>div,
#_MAIN>p,
#_MAIN>p>div {
  position: relative;
  height: 100%;
}

#_MAIN {
  width: 100%;
  z-index: 2;
}

._HIDDEN,
s {
  display: none;
}

._FULL_WIDTH {
  width: 100%;
}

._ALIGN_RIGHT {
  text-align: right;
}

._NOWRAP {
  white-space: nowrap;
}
