#_PROJECTS,
#_FILES {
  position: relative;
  overflow: hidden;
  height: 30px;
}

#_PROJECTS {
  margin-left: 30px;
}

#_FILES {
  background: #abc;
}

#_HEAD>b,
#_HEAD>u,
#_FILES>b,
#_FILES>u {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  z-index: 1001;
  background: #fff;
}

#_HEAD>b,
#_FILES>b {
  bottom: 1px;
  z-index: 999;
}

#_FILES>b {
  background: #346;
}

#_HEAD>u {
  background: #abc;
}

#_FILES>u {
  background: #012;
}

._TAB {
  position: absolute;
  height: 30px;
  cursor: pointer;
  top: 0;
}

._TAB>b {
  display: block;
  margin: -27px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}

#_PROJECTS>._TAB>b {
  color: #abc;
  text-shadow: 0 1px 0.5px #235;
}

#_PROJECTS>._HOVERED_TAB>b {
  color: #fff;
}

#_PROJECTS>._ACTIVE_TAB>b {
  color: #000;
  text-shadow: 0 1px 0.5px #cde;
  font-weight: bold;
}

#_FILES>._TAB>b {
  color: #000;
  text-shadow: 0 1px 0.5px #9ab;
}

#_FILES>._ACTIVE_TAB>b {
  color: #fff;
  text-shadow: 0 1px 0.5px #000;
}

a._TAB>i {
  display: inline-block;
  float: right;
  width: 18px;
  height: 18px;
  margin: 7px 4px;
  z-index: 1005;
  background: url(/close.svg) no-repeat;
}

a._TAB>i:hover {
  background: url(/close-hover.svg) no-repeat;
}

._SHADE {
  fill: #000;
  filter: url(#_BLUR);
}

._SHINE {
  stroke-width: 1.6px;
  stroke: #457;
  fill: #346;
}

._HOVERED_TAB>svg>._SHINE {
  stroke: #89b!important;
  fill: #679!important;
}

a._TAB {
  z-index: 1003;
}

._TAB>svg {
  height: 30px;
  margin-left: -11px;
}

._TAB>svg>path {
  stroke-line-join: round;
}

._ACTIVE_TAB>svg>._SHINE {
  stroke: #fff!important;
  fill: #abc!important;
}

#_FILES>._TAB>svg>._SHINE {
  stroke: #abc;
  fill: #89a;
}

#_FILES>._HOVERED_TAB>svg>._SHINE {
  stroke: #def!important;
  fill: #bcd!important;
}

#_FILES>._ACTIVE_TAB>svg>._SHINE {
  stroke: #346!important;
  fill: #012!important;
}
