#_PROJECTS,
#_PARTS {
  position: relative;
  height: 30px;
  overflow: hidden;
}

#_PROJECTS {
  margin-left: 30px;
}

#_PARTS {
  background: #abc;
}

#_HEAD>b,
#_HEAD>u,
#_PARTS>b,
#_PARTS>u {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  z-index: 1001;
  background: #fff;
}

#_HEAD>b,
#_PARTS>b {
  bottom: 1px;
  z-index: 999;
}

#_PARTS>b {
  background: #346;
}

#_HEAD>u {
  background: #b8c9dc;
}

#_PARTS>u {
  background: #013;
}

._TAB {
  position: absolute;
  height: 30px;
  cursor: pointer;
  top: 0;
}

._TAB>b {
  font-weight: 500;
  display: block;
  margin: -27px 8px;
  white-space: nowrap;
  overflow: hidden;
}

._ACTIVE_TAB>b {
  font-weight: 600;
}

#_PROJECTS>._TAB>b {
  color: #abc;
}

#_PROJECTS>._HOVERED_TAB>b {
  color: #fff;
}

#_PROJECTS>._ACTIVE_TAB>b {
  color: #000;
  text-shadow: 0 1px 0.5px #cde;
}

#_PARTS>._TAB>b {
  color: #000;
}

#_PARTS>._ACTIVE_TAB>b {
  color: #fff!important;
}

._SHADE {
  fill: #000;
  filter: url(#_BLUR);
}

._SHINE {
  stroke-width: 1.6px;
  stroke: #457;
  fill: #346;
}

._HOVERED_TAB>svg>._SHINE {
  stroke: #89b!important;
  fill: #679!important;
}

._TAB>svg {
  height: 30px;
  margin-left: -11px;
}

._TAB>svg>path {
  stroke-line-join: round;
}

._ACTIVE_TAB>svg>._SHINE {
  stroke: #fff!important;
  fill: #b2c4d8!important;
}

#_PARTS>._TAB>svg>._SHINE {
  stroke: #abc;
  fill: #8899b0;
}

#_PARTS>._HOVERED_TAB>svg>._SHINE {
  stroke: #def!important;
  fill: #bcd!important;
}

#_PARTS>._ACTIVE_TAB>svg>._SHINE {
  stroke: #346!important;
  fill: #124!important;
}
