#_filter {
  padding: 2px 4px;
}

#_filter>input {
  background: #cde;
  border-radius: 6px;
  border: 1px solid #9ab;
  display: block;
  width: 100%;
  padding: 2px 6px;
  outline: none;
}

#_filter>input:focus {
  background: #fff;
  border-color: #679;
}

a._file,
b._dir {
  white-space: nowrap;
  padding: 2px 8px;
  display: block;
  cursor: pointer;
  display: block;
  font-weight: normal;
  color: #012;
}

a._file>i,
b._dir>i {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 16px;
  opacity: 0.6;
  margin-right: 2px;
}

a._file>i {
  background: url(/file.svg) no-repeat;
}

b._dir>i {
  background: url(/dir.svg) no-repeat;
}

b._open>i {
  background: url(/open.svg) no-repeat;
}

a._file._ignore>i,
b._ignore a._file>i {
  background: url(/file-ignore.svg) no-repeat;
}

b._dir._ignore>i,
b._ignore b._dir>i {
  background: url(/dir-ignore.svg) no-repeat;
}

b._open._ignore>i,
b._ignore b._open>i {
  background: url(/open-ignore.svg) no-repeat;
}

a._ignore,
b._ignore,
b._ignore b,
b._ignore a {
  color: #789!important;
}

a._file:hover,
b._dir:hover {
  background: #bcd;
  color: #000;
}

a._file:hover>i,
b._dir:hover>i {
  opacity: 1;
}

b._tree {
  display: none;
  margin-left: 16px;
}

b._tree._open {
  display: block;
}
